{% extends "auth/base.html" %}

{% block title %}重置密码请求{% endblock %}

{% block content %}
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">

      {{ flash_msg() }}
      {{ form_errors(form) }}
    <form method="post" class="am-form" action="">
        {{ form.hidden_tag() }}
      <label for="email">邮箱:</label>
{#      <input type="email" name="email" id="email" value="">#}
        {{ form.email }}
      <br>
      <div class="am-cf">
        <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
{#        <input type="submit" name="" value="忘记密码 ^_^? " class="am-btn am-btn-default am-btn-sm am-fr">#}
          <br>
      </div>
    </form>
{#    <hr>#}
  </div>
</div>

{% endblock %}